.p-dialog {
  background: #f9f9f9;
  width: 60vh;
  height: 90vh;
  box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.p-dialog-header {
  height: 50px;
}
.p-dialog-title {
  font-weight: 600;
  padding: 20px;
}
.p-dialog-header-icons {
  width: 15% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.p-dialog-header-close-icon {
  border-radius: 50%;
  width: 100% !important;
}
.successStore {
  background-color: rgb(219, 255, 219);
  opacity: 0.9;
}

.p-toast-message-content {
  height: 75px !important;
  text-align: center;
  display: flex;
  align-items: center !important;
  padding: 25px;
}
.p-toast-message-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-toast-message-icon-close {
  margin-top: 50%;
}
.p-toast-message-content p {
  margin-bottom: 50px;
}
.p-toast-summary {
  color: green;
  padding-bottom: 10px;
}
.p-toast-detail {
  font-size: small;
}
.center1{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}