.name__template__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.name__template__image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}
.name__template__image img {
  height: 100%;
}
.name__template__container .spread {
  margin-right: 5px;
}
.pill {
  font-size: xx-small;
  background-color: #eec945;
  border-radius: 65px;
  text-align: center;
  padding: 2px;
}
