.name__template__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}
.name__template__image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
}
.name__template__image img {
  height: 100%;
}
.name__template__container .spread {
  margin-right: 5px;
}
.pill {
  font-size: xx-small;
  background-color: #eec945;
  border-radius: 65px;
  text-align: center;
  padding: 2px;
}
.name__template__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actions__container {
  position: relative;
}
#actions__card {
  position: absolute;
  left: -190%;
  top: 0%;
  z-index: 1000;
  background-color: teal;
  width: 100px;
}
.white__button {
  appearance: none;
  border: none;
  background-color: transparent;
  margin-bottom: 3px;
}
