.datatable {
  background: #ffffff;
}
/* .datatable__container {
  position: relative;
} */

.filter__btn {
  position: absolute !important;
  right: 110px !important;
  top: 20px !important;
  z-index: 10 !important;
  appearance: none;
  border: none;
  background: #ffffff;
}
.addBuyer__btn {
  position: absolute !important;
  right: 2% !important;
  top: 20px !important;
  z-index: 10 !important;
  width: 100px;
  appearance: none;
  border: none;
  background: #d0ef11;
}
tr:nth-child(even) {
  background: #f2f2f2;
}

th input {
  width: 80% !important;
  margin: auto;
  appearance: none;
  outline: none;
  border: none;
  background: #ffffff !important;
  border: 1px solid #787777;
  border-radius: 3px;
  padding: 5px !important;
}

.slNo {
  text-align: center !important;
}
.p-paginator {
  display: flex;

  align-items: center;
  justify-content: flex-start !important;
  padding: 5px;
}

.p-dropdown-item {
  margin-bottom: 5px;
}

.datatable__container {
  position: relative;
}

th {
  background: #f2f2f2;
  font-size: 15px;
  padding: 20px 1px;
  text-align: center;
}
td {
  font-size: 15px;
  text-align: left;
}

.p-datatable-header {
  font-weight: 700 !important;
  padding: 25px;
}

.p-dropdown-panel {
  background: #ffffff !important;
  font-size: 15px;
  text-align: center;
  box-shadow: 0 5px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.p-dropdown-item:hover {
  background: #f2f2f2 !important;
}
.custom-dropdown {
  font-size: 15px !important;
  background-color: white !important;
  border: none !important;
}
.contentClassName {
  top: 20px !important;
  width: 100%;
  display: flex;
}
