.profileicon__container {
  display: flex;
  height: 100%;
  width: 75%;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
}
.profileicon__avatar {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileicon__avatar img {
  height: 100%;
}
.profileicon__details {
  display: flex;
  flex-direction: column;
}
