#sidebar__card {
  background: #1b283b !important;
  height: 100vh;
  width: 17vw;
  overflow-y: auto;
}
.sidebar__header h1 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin: 0;
  border-bottom: 1px dashed white;
  margin: 10px 5px 10px 30px;
}
