* {
  --primary-color: green;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  height: 36px;
  width: 77px;
  border-radius: 3px;
  padding: 8px, 15px, 8px, 15px;
  appearance: none;
  border: none;
}
.danger {
  background-color: tomato;
  color: white;
}
::-webkit-scrollbar {
  width: 5px !important;
}
::-webkit-scrollbar-thumb {
  background: rgb(212, 210, 210);
}
.p-datatable-scrollable-body::-webkit-scrollbar {
  width: 5px;
}
